body {
    background: #333;
    padding-top: 5em;
    display: flex;
    justify-content: center;
  }
  .animation-text{

    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    position: absolute;
    top: 37vh;
    left: 8vh;
    color: white;
    
  }
.animation-text span::before{
  content: "WEBDEVELOPER";
  color: cyan;
  animation: words 20s infinite;

}
.animation-text span::after{
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  left: 19vh;
  background-color: transparent;
 
  border-left: 2px solid transparent;
  right: --8px;
  animation: cursor .8s infinite, typing 20s steps(14) infinite ;
}
@keyframes cursor {
  to{
    border-right: 2px solid #fff;
  }
}
  @keyframes words {

    0%,20%{
      content:"FRONTEND DEVELOPER";
    }
    21%,40%{
      content:"BACKEND DEVELOPER";
    }
    41%,60%{
      content:"YOUTUBER";
    }
    61%,80%{
      content:"WEBDESINER";
    }
    81%,100%{
      content:"UI UX DESINER";
    }
  }
  @keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
      width: 0;
    }
    5%,20%,25%,40%,60%,65%,80%,85%{
      width: calc(100% + 8px);
    }
  }

  h7{
    color: chartreuse;
    position: absolute;
    font-size:5vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 20vh;
    top: -40px;
    text-shadow: #333;
    padding: 50px;
    animation: hello;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

  }
  @keyframes hello {
    from{
        width: 100px;
        color: gold;
        opacity: 0;
    }
    to{
        height: 100px;
        color: blue;
        
        transform: translate(-150px);
        transform: matrix(200px);
        opacity: 100;
    }
    
  }
  h9{
    color: yellow;
    position: absolute;
    left: 50px;
    top: 200px;
    font-size: 3vw;
  }
  p{
    color: aqua;
    position: absolute;
    top: 400px;
    left: 30px;
  }
  .yash{
   
    position: absolute;
    width: 500px;
    height: 450px;
    left: 900px;
    top: 100px;
    
    animation-name: yash;
    animation-iteration-count: 1;
    animation-duration: 4s;
   
    
  }
  .yash:hover{
    transform: translate(1.3);
    z-index: 3;
  }
  @keyframes yash {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 100;
    }
    
  }
  .yash:hover{
    transform: translate(1.5);
    z-index: 3;
   
  }
  #img:hover{
    transform: translate(1.5);
    z-index: 3;
  }
  @keyframes pics {
    0%{
      filter: hue-rotate(0deg);
      
      
    }
    100%{
      filter: hue-rotate(360deg);
      
    }
  }
 .hi{
  position: absolute;
  top: 800px;
  left: 50px;
  width: 300px;
  height: 300px;
  color: chartreuse;
  padding: 50px;
  border-radius: 30px;
  border: 50px;
  background-color: transparent;
  border-color: white;
 
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-name: kk;
  animation-play-state: initial;
  
  
    
    
  }
  
 }

 }
 @keyframes color{
  0%{
    color: silver;
  }
  50%{
    color: yellow;
  }
  100%{
    color: purple;
  }
 }
 .box{
  position: absolute;
  top: 760px;
  left: 70px;
  width: 300px;
  height: 300px;
  border: 50px;
  border-radius: 10px;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  border-right: 10px solid white;
  border-left: 10px solid white;
  box-sizing: border-box;
  background-color: transparent;
 transition-delay: 300ms;
 
  padding: 100px;
  animation-name: box;
  animation-iteration-count: 1;
  animation-duration: 5s;

  p{
    position: absolute;
    top: 10px;
    left: 60px;
    text-align: center;
    
    
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: color;
  }
  img{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 60px;
    top: 80px;
    animation-name: kk;
    animation-iteration-count: 1;
    animation-duration: 10s;
 }
 
}
@keyframes box {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
  
}
@keyframes kk {
  0%{
    transform: translateY(-80px);
    
    
  }
  /*50%
  {
    transform-style: preserve-3d;
    transform: translateY(-40px);
  }*/
  100%{
    transform: translateY(0px);
  }
}
 .box1{
  position: absolute;
  top: 760px;
  left: 600px;
  width: 300px;
  height: 300px;
  border: 50px;
  border-radius: 10px;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  border-right: 10px solid white;
  border-left: 10px solid white;
  box-sizing: border-box;
  background-color: transparent;
 
  padding: 100px;
  animation-name: box;
  animation-iteration-count: 1;
  animation-duration: 5s;
  img{
    position: absolute;
    top: 80px;
    left: 50px;
    width: 160px;
    height: 160px;
    animation-name: box1;
    animation-iteration-count: 1;
    animation-duration: 10s;
  }
  P{
    position: absolute;
    top: 10px;
    left: 60px;
    text-align: center;
    
    
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: color;
    
  }
 
 }
 @keyframes box1 {
  0%{
    transform: translateY(-80px);
  }
  100%{
    transform: translateY(0px);
  }
 }
 @keyframes text {
  0%{
    transform: translateY(-80px);
    color: cornsilk;
    
  } 
  50%
  {
    color: darkkhaki;
  }
  100%{
    transform: translateY(0px);
    color: gold;
  }

  
}
 @keyframes color{
  
  0%{
    animation-iteration-count: infinite;
    animation-duration: 1s;
    color: silver;
  }
  50%{
    animation-iteration-count: infinite;
    animation-duration: 1s;
    color: yellow;
  }
  100%{
    animation-iteration-count: infinite;
    animation-duration: 1s;
    color: purple;
  }
  
 }
 .box2{
  position: absolute;
  top: 760px;
  left: 1100px;
  width: 300px;
  height: 300px;
  border: 50px;
  border-radius: 10px;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  border-right: 10px solid white;
  border-left: 10px solid white;
  box-sizing: border-box;
  background-color: transparent;
 
  padding: 100px;
  animation-name: box;
  animation-iteration-count: 1;
  animation-duration: 5s;
  p{
    position: absolute;
    top: 10px;
    left: 50px;
    animation-name: text;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  img{
    position: absolute;
    left: 60px;
    top: 80px;
    width: 160px;
    height: 160px;
    animation-name: photo;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }
 }

 
 @keyframes photo {
  0%{
    transform: translateY(-90px);
  }
  100%{
    transform: translateY(0px);
  }
  
  
 }
 @keyframes text {
  0%{
    color: gold;
  }
  50%{
    color: darkmagenta;
  }
  100%{
    color: lawngreen;
  }
  
 }
 .box3{
  position: absolute;
  top: 160vh;
  left: 151vh;
  padding: 140px;
  background-color: transparent;
  border: 50px;
  border-radius: 10px;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  border-right: 10px solid white;
  border-left: 10px solid white;
  box-sizing: border-box;
  animation-name: box;
  animation-iteration-count: 1;
  animation-duration: 5s;
 }


  .p11{
    position: absolute;
    top: 165vh;
    margin-left: 162vh;
    animation-name: color;
    animation-iteration-count: infinite;
    animation-duration: 1s;

  }
  @keyframes color {
    0%{
      
      color: chartreuse;
      opacity: 0;
     
    }
    50%{
      color: white;
    }
    100%{
      
      color: red;
      opacity: 100;
      
    }
  }

  .imge11{
    position: absolute;
    
    top: 180vh;
    margin-left: 146vh;
    width: 160px;
    height: 160px;
    animation-name: image;
    animation-duration: 5s;
    animation-iteration-count: 1;
  }
  @keyframes image {
    0%{
      opacity: 0;
      transform: translateY(-80px);
    }
    100%{
      opacity: 100;
      transform: translateY(0px);
    }
  }
  .box4{
    position: absolute;
    top: 160vh;
    left: 82vh;
    padding: 140px;
    background-color: transparent;
    border: 50px;
    border-radius: 10px;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
    border-left: 10px solid white;
    box-sizing: border-box;
    padding: 139px;
    animation-name: box;
    animation-iteration-count: 1;
    animation-duration: 5s;
  

}
#p{
  position: absolute;
  top: 4vh;
  margin-left: 10vh;
  animation-name: color;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  
}
.img3{
  position: absolute;
    
  top: 6vh;
 left: 6vh;
  width: 180px;
  height: 180px;
  animation-name: haii;
  animation-iteration-count: 1;
  animation-duration: 5s;
}
@keyframes color {
  0%{
    color: red;
  }
  50%{
    color: beige;
  }
  100%{
    color: crimson;
  }
  
}
@keyframes haii {
  0%{
    transform: translateY(-80px);
  }
  100%{
    transform: translateY(0px);
  }
  
}
.box5{   position: absolute;
  top: 160vh;
  left: 12vh;
  padding: 140px;
  background-color: transparent;
  border: 50px;
  border-radius: 10px;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  border-right: 10px solid white;
  border-left: 10px solid white;
  box-sizing: border-box;
  padding: 139px;
  animation-name: box;
  animation-iteration-count: 1;
  animation-duration: 5s;

}
#pp{
  position: absolute;
  top: 5vh;
  margin-left: 10vh;
  animation-name: color;
  animation-iteration-count: infinite;
  animation-duration: 1s;

}
#ppp{
  position: absolute;
    
  top: 10vh;
 left: 6vh;
  width: 180px;
  height: 180px;
  animation-name: hai;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
@keyframes hai {
  0%{
    opacity: 0;
    transform: translateY(-80px);
  }
  100%{
    opacity: 100;
    transform: translateY(0px);
  }
  
}
.box5:hover{
  transform: scale(1.5);
  z-index: 2;
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan, 0 0 50px, 0 0 50px cyan, 
  0  0 100px cyan, 0 0 200px cyan ;
}

.box4:hover{
  transform: scale(1.5);
  z-index: 2;
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan, 0 0 50px, 0 0 50px cyan, 
  0  0 100px cyan, 0 0 200px cyan ;
}
  .box3:hover{
    transform: scale(1.3);
    z-index: 2;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px, 0 0 50px cyan, 
    0  0 100px cyan, 0 0 200px cyan ;
  }
  .imge:hover{
    
      transform: scale(1.3);
      z-index: 3;
      box-shadow: 0 0 5px cyan,
      0 0 25px cyan, 0 0 50px, 0 0 50px cyan, 
      0  0 100px cyan, 0 0 200px cyan ;
    
  }


.box2:hover{
  display: flex;
  color: azure;
  transform: scale(1.3);
  z-index:2;
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan, 0 0 50px, 0 0 50px cyan, 
  0  0 100px cyan, 0 0 200px cyan ;
}
.box1:hover{
  display: flex;
  color: azure;
  transform: scale(1.3);
  z-index:2;
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan, 0 0 50px, 0 0 50px cyan, 
  0  0 100px cyan, 0 0 200px cyan ;
}
.box:hover{
  display: flex;
  color: azure;
  transform: scale(1.4);
  z-index:2;
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan, 0 0 50px, 0 0 50px cyan, 
  0  0 100px cyan, 0 0 200px cyan ;
}
.readmore{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: white;
  

p{
 

  position: absolute;
  top: 600px;
  left: 600px;
  color: blueviolet;
  
  border:  solid;
  border-radius: 30px;
  
  padding: 20px;
  display: grid;
  
  text-align: center;
  column-gap: normal;
}

}
.moreabout{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  

p{
 

  position: absolute;
  top: 490px;
  left: 100px;
  
  color: white;
  
  border:  solid;
  border-radius: 30px;
  border-color: cyan;
  
  padding: 9px;
  display: grid;
  
  text-align: center;
  column-gap: normal;
}
.moreabout1:hover{
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan, 0 0 50px, 0 0 50px cyan, 
  0  0 100px cyan, 0 0 200px cyan ;
}
}
p::before p::after{
 
  height: 2px;
  content: "";
  background-color: chartreuse;
  display: block;
}
#right{
  position: absolute;
  top:40vh;
  left: 180vh;
  color: red;
  width: 5vh;
  height: 5vh;
  background-color: blueviolet;
  padding: 5px;
}
#left{
  position: absolute;
  top:41vh;
  left: 123vh;
  color: red;
  width: 5vh;
  height: 5vh;
  background-color: blueviolet;
  padding: 5px;

}



#yash1{
  position: absolute;
  top: 280vh;
  left: 20vh;
  border: 50px;
  border-radius: 10px;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  border-right: 10px solid white;
  border-left: 10px solid white;
}
#yash1{
  box-shadow: 0 0 20px cyan,
  0 0 30px cyan, 0 0 50px cyan,
  0 0 100px cyan, 0 0 200px cyan ;

}
#para{
  position: absolute;
  top: 230vh;
  left: 120vh;
  color: rgb(250, 5, 5);
  font-size: 10vh;

}
.para1{
  position: absolute;
  top: 230vh;
  left: 155vh;
  color: blue;
  font-size: 10vh;

}
.para2{
  position: absolute;
  top: 250vh;
  left: 120vh;
  font-size: 5vh;
  color: chartreuse;

}
#para3{
  position: absolute;
  top: 270vh;
  left: 100vh;
}
#skill{
  position: absolute;
  top: 360vh;
  left: 65vh;
  font-size: 12vh;
  color: red;
  font-family: monospace;


}
.skill1{
  position: absolute;
  top: 360vh;
  left: 80vh;
  font-size: 12vh;
  color: blue;
  font-family: monospace;
  
}
.icons{
  position: absolute;
  top: 390vh;
  left: 50vh;
  width: 50px;
  height: 50px;
  animation-name: icons;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
@keyframes icons {

  
}
.htmlbox{
  position: absolute;
  top: 393vh;
  left: 90vh;
  padding: 5px;
  padding-left: 100vh;
  border-radius: 50px;
  
 border-left: 5px solid silver;
 border-bottom: 5px solid  silver;
 border-top: 5px solid  silver;
 border-right: 5px solid  silver;
  

  
}

.htmlbox1{
  position: absolute;
  top: 0vh;
  left: 0vh;
  padding: 5px;
  padding-left: 0vh;
  border-radius: 50px;
  background-color: gold;
  animation: progress 5s ease-in-out forwards;
  animation-iteration-count: infinite;
  opacity: 0;
}
@keyframes progress {
  0%{
    width: 0;
    opacity: 0;
  }
  100%{
    
    opacity: 1;
  }

  
}
.htmlbox1{
  width: 80%;
}

#htmlbox2{
  position: absolute;
  top: 390vh;
  left: 13vh;
  font-size: 5vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}
.icons1{
  position: absolute;
  top: 425vh;
  left: 50vh;
  width: 50px;
  height: 50px;
  animation-name: icons1;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
@keyframes icons1 {

  
}
.cssbox{
  position: absolute;
  top: 427vh;
  left: 90vh;
  padding: 5px;
  padding-left: 100vh;
  border-radius: 50px;
  
 border-left: 5px solid silver;
 border-bottom: 5px solid  silver;
 border-top: 5px solid  silver;
 border-right: 5px solid  silver;
  

  
}
.cssbox1{
  position: absolute;
  top: 0vh;
  left: 0vh;
  padding: 5px;
  padding-left: 0vh;
  border-radius: 50px;
  background-color: gold;
  animation: progress 5s ease-in-out forwards;
  animation-iteration-count: infinite;
  opacity: 0;
}
@keyframes progress {
  0%{
    width: 0;
    opacity: 0;
  }
  100%{
    
    opacity: 1;
  }

  
}
.cssbox1{
  width: 60%;
}
#cssbox2{
  position: absolute;
  top: 425vh;
  left: 13vh;
  font-size: 5vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}
.icons2{
  position: absolute;
  top: 456vh;
  left: 50vh;
  width: 50px;
  height: 50px;
  animation-name: icons2;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
@keyframes icons2 {
  0%{
    opacity: 0;
    transform: translateY(-100px);
  }
  100%{
    opacity: 100;
    transform: matrix(0px);
  }
  
}
.javabox{
  position: absolute;
  top: 459vh;
  left: 90vh;
  padding: 5px;
  padding-left: 100vh;
  border-radius: 50px;
  
 border-left: 5px solid silver;
 border-bottom: 5px solid  silver;
 border-top: 5px solid  silver;
 border-right: 5px solid  silver;
  

  
}
.javabox1{
  position: absolute;
  top: 0vh;
  left: 0vh;
  padding: 5px;
  padding-left: 0vh;
  border-radius: 50px;
  background-color: gold;
  animation: java 5s ease-in-out forwards;
  animation-iteration-count: infinite;
  opacity: 0;
}
@keyframes java {
  0%{
    width: 0;
    opacity: 0;
  }
  100%{
    
    opacity: 1;
  }

  
}
.javabox1{
  width: 30%;
}
#javabox2{
  position: absolute;
  top: 457vh;
  left: 13vh;
  font-size: 5vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}
.icon3{
  position: absolute;
  top: 485vh;
  left: 50vh;
  width: 50px;
  height: 50px;
  animation-name: icon3;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
@keyframes icon3 {
  0%{
    opacity: 0;
    transform: translateY(-100px);
  }
  100%{
    opacity: 100;
    transform: matrix(0px);
  }
  
}
.databox{
  position: absolute;
  top: 487vh;
  left: 90vh;
  padding: 5px;
  padding-left: 100vh;
  border-radius: 50px;
  
 border-left: 5px solid silver;
 border-bottom: 5px solid  silver;
 border-top: 5px solid  silver;
 border-right: 5px solid  silver;
  

  
}
.databox1{
  position: absolute;
  top: 0vh;
  left: 0vh;
  padding: 5px;
  padding-left: 0vh;
  border-radius: 50px;
  background-color: gold;
  animation: data 5s ease-in-out forwards;
  animation-iteration-count: infinite;
  opacity: 0;
}
@keyframes data {
  0%{
    width: 0;
    opacity: 0;
  }
  100%{
    
    opacity: 1;
  }

  
}
.databox1{
  width: 20%;
}
#databox2{
  position: absolute;
  top: 487vh;
  left: 13vh;
  font-size: 5vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}
.icon4{
  position: absolute;
  top: 518vh;
  left: 50vh;
  width: 50px;
  height: 50px;
  animation-name: icon4;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
@keyframes icon4 {
  0%{
    opacity: 0;
    transform: translateY(-100px);
  }
  100%{
    opacity: 100;
    transform: matrix(0px);
  }
  
}
.reactbox{
  position: absolute;
  top: 520vh;
  left: 90vh;
  padding: 5px;
  padding-left: 100vh;
  border-radius: 50px;
  
 border-left: 5px solid silver;
 border-bottom: 5px solid  silver;
 border-top: 5px solid  silver;
 border-right: 5px solid  silver;
  

  
}
.reactbox1{
  position: absolute;
  top: 0vh;
  left: 0vh;
  padding: 5px;
  padding-left: 0vh;
  border-radius: 50px;
  background-color: gold;
  animation: react 5s ease-in-out forwards;
  animation-iteration-count: infinite;
  opacity: 0;
}
@keyframes react {
  0%{
    width: 0;
    opacity: 0;
  }
  100%{
    
    opacity: 1;
  }

  
}
.reactbox1{
  width: 5%;
}
#reactbox2{
  position: absolute;
  top: 518vh;
  left: 13vh;
  font-size: 5vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}
.icon5{
  position: absolute;
  top: 549vh;
  left: 50vh;
  width: 50px;
  height: 50px;
  animation-name: icon5;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
@keyframes icon5 {
  0%{
    opacity: 0;
    transform: translateY(-100px);
  }
  100%{
    opacity: 100;
    transform: matrix(0px);
  }
  
}
.nodebox{
  position: absolute;
  top: 552vh;
  left: 90vh;
  padding: 5px;
  padding-left: 100vh;
  border-radius: 50px;
  
 border-left: 5px solid silver;
 border-bottom: 5px solid  silver;
 border-top: 5px solid  silver;
 border-right: 5px solid  silver;
  

  
}
.nodebox1{
  position: absolute;
  top: 0vh;
  left: 0vh;
  padding: 5px;
  padding-left: 0vh;
  border-radius: 50px;
  background-color: gold;
  animation: node 5s ease-in-out forwards;
  animation-iteration-count: infinite;
  opacity: 0;
}
@keyframes node {
  0%{
    width: 0;
    opacity: 0;
  }
  100%{
    
    opacity: 1;
  }

  
}
.nodebox1{
  width: 5%;
}
#nodebox2{
  position: absolute;
  top: 550vh;
  left: 13vh;
  font-size: 5vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}
.per{
  position: absolute;
  top: 390vh;
  left: 170vh;
  width: 50px;
  height: 50px;
  color: yellow;
  animation: per 5s ease-in-out forwards;
  animation-iteration-count: infinite;
  opacity: 0;

}
@keyframes per {
  0%{
    
    opacity: 0;
  }
  100%{
    
    opacity: 1;
  }

  
}
.per1{
  position: absolute;
  top: 424vh;
  left: 149vh;
  color: chartreuse;
  animation: per1 5s ease-in-out forwards;
  animation-iteration-count: infinite;
  opacity: 0;

}
@keyframes per1 {
  0%{
    
    opacity: 0;
  }
  100%{
    
    opacity: 1;
  }

 

}
.per2{
  position: absolute;
  top: 456vh;
  left: 119vh;
  color: chartreuse;
  animation: per2 5s ease-in-out forwards;
  animation-iteration-count: infinite;
  opacity: 0;

}
@keyframes per2 {
  0%{
    
    opacity: 0;
  }
  100%{
    
    opacity: 1;
  }

 

}
.per3{
  position: absolute;
  top: 484vh;
  left: 110vh;
  color: chartreuse;
  animation: per3 5s ease-in-out forwards;
  animation-iteration-count: infinite;
  opacity: 0;

}
@keyframes per3 {
  0%{
    
    opacity: 0;
  }
  100%{
    
    opacity: 1;
  }

 

}
.per4{
  position: absolute;
  top: 516vh;
  left: 95vh;
  color: chartreuse;
  animation: per4 5s ease-in-out forwards;
  animation-iteration-count: infinite;
  opacity: 0;

}
@keyframes per4 {
  0%{
    
    opacity: 0;
  }
  100%{
    
    opacity: 1;
  }

 

}
.per5{
  position: absolute;
  top: 548vh;
  left: 95vh;
  color: chartreuse;
  animation: per5 5s ease-in-out forwards;
  animation-iteration-count: infinite;
  opacity: 0;

}
@keyframes per5 {
  0%{
    
    opacity: 0;
  }
  100%{
    
    opacity: 1;
  }

 

}
.contact{
  position: absolute;
  top: 620vh;
  left: 10vh;
  justify-content: center;
  justify-items: center;
  display: flex;
  font-size: 10vh;
  color: red;
  

}
.ME{
  position: absolute;
  top: 620vh;
  left: 55vh;
  justify-content: center;
  justify-items: center;
  display: flex;
  font-size: 10vh;
  color: blue;
}
.email{
  position: absolute;
  top: 610vh;
  left: 110vh;
  font-size: 5vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}
.name{ 
   position: absolute;
  top: 619vh;
  left: 110vh;
  font-size: 5vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.message{
  position: absolute;
  top: 628vh;
  left: 110vh;
  font-size: 5vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.submit{
  position: absolute;
  top: 665vh;
  left: 110vh;
  background-color: cyan;

}
.submit:hover{
  box-shadow: 0 0 20px cyan,
  0 0 30px cyan, 0 0 50px cyan,
  0 0 100px cyan, 0 0 200px cyan ;

}
#name1{
  position: absolute;
  top: 621vh;
  left: 130vh;
}
#email1{
  position: absolute;
  top: 612vh;
  left: 130vh;

}
#message1{
  position: absolute;
  top: 635vh;
  left: 110vh;
  width: 50vh;
  height: 20vh;
  text-align: start;
  justify-self: start;

}
@media only  screen and (max-width: 400px) {
  .img{
    position: absolute;
    width: 20px;
    height: 20px;
  }
  .typewriter{
    position: absolute;
    
    width: 20px;
  }
  
}
.element-link{
  display: flex;
  position: absolute;
  top: 0vh;

}
.element-link a {
  position: absolute;
  top: 35vh;
  
  width: 100px;
  height: 100px;
  color: cyan;

  

}

.element-link a i{

  line-height: 2vh 2vh 2vh 2vh;
 text-align: center;
 display: flex;
 justify-items: center;
 justify-content: center;
  
}
.element-link a i:hover{
  transform: matrix(30px);
  z-index: 3;
  box-shadow: 0 0 20px cyan,
  0 0 30px cyan, 0 0 50px cyan,
  0 0 100px cyan, 0 0 200px cyan ;
}
.fa-facebook-f{
  position: absolute;
  top: 40vh;
  left: -95vh;
  border:  2px solid cyan;
  
  border-radius: 50%;
  color: cyan;
  margin: 3rem 1.5rem 3rem 0;
  padding: 3vh;

 font-size: 30vh;
 line-height: 80vh;
  

}
.fa-facebook-f:hover{
  transform: scale(1.3);
  z-index: 3px;
  background-color: white;

  
}

.fa-brands{
  
  
  border-radius: 100px;
  
  width: 5vh;
  height: 5vh;
  animation-name: fa;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
@keyframes fa {

  }


.fa-instagram{
  position: absolute;
  top: 40vh;
  left: -85vh;

  border:  2px solid cyan;
  
  border-radius: 50%;
  color: cyan;
  margin: 3rem 1.5rem 3rem 0;
  padding: 3vh;



}
.fa-instagram:hover{
  transform: scale(1.3);
  z-index: 3px;
  background-color: white;

  
}
.fa-whatsapp{
  position: absolute;
  top: 40vh;
  left: -75vh;

  border:  2px solid cyan;
  
  border-radius: 50%;
  color: cyan;
  margin: 3rem 1.5rem 3rem 0;
  padding: 3vh;
}
.fa-whatsapp:hover{
  transform: scale(1.3);
  z-index: 3px;
  background-color: white;

  
}
.fa-linkedin-in{
  position: absolute;
  top: 40vh;
  left: -65vh;

  border:  2px solid cyan;
  
  border-radius: 50%;
  color: cyan;
  margin: 3rem 1.5rem 3rem 0;
  padding: 3vh;

}
.fa-linkedin-in:hover{
  transform: scale(1.3);
  z-index: 3px;
  background-color: white;

  
}
.education{
  position: absolute;
  top: 570vh;
  justify-items: center;
  justify-content: center;
}
#education1{
  position: absolute;
  top: 0vh;
  left: 70vh;
  color: red;
  font-size: 8vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.education0{
  color: blue;
  position: absolute;
  left: 93vh;
  font-size: 8vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.edu{
  position: absolute;
  top: 15vh;
  left: 90vh;
  padding: -1px;
  
  color: cyan;
  justify-content: center;
  justify-items: center;
  border-radius: 80vh;
  padding-bottom: 150vh;
  border: 5vh solid cyan;
  border-top: 5px solid cyan;
  border-bottom: 5px solid cyan;
  border-left: 5px solid cyan;
  border-right: 5px solid cyan;
}
.edu1{
  position: absolute;
  top: 20vh;
  left: 89.7vh;
  padding: 8px;
  border-radius: 80vh;
  background-color: white;
  box-shadow: 0 0 20px white,
  0 0 30px white, 0 0 50px white,
  0 0 100px white, 0 0 200px white ;
}
.education2{
  position: absolute;
  top: 20vh;
  left: 95vh;
  color: cyan;
  font-size: 3vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.edu3{
  position: absolute;
  top: 60vh;
  left: 89.7vh;
  padding: 8px;
  border-radius: 80vh;
  background-color: white;
  box-shadow: 0 0 20px white,
  0 0 30px white, 0 0 50px white,
  0 0 100px white, 0 0 200px white ;
  }

    .edu5{
      position: absolute;
      top: 105vh;
      left: 89.7vh;
      padding: 8px;
      border-radius: 80vh;
      background-color: white;
      box-shadow: 0 0 20px white,
      0 0 30px white, 0 0 50px white,
      0 0 100px white, 0 0 200px white ;
      
    }
    .edu6{
      position: absolute;
      top: 150vh;
      left: 89.7vh;
      padding: 8px;
      border-radius: 80vh;
      background-color: white;
      box-shadow: 0 0 20px white,
      0 0 30px white, 0 0 50px white,
      0 0 100px white, 0 0 200px white ;
      
    }

        
      
   
.education3{
  position: absolute;
  top: 29vh;
  left:105vh;
  color: cyan;
padding: 9vh;
padding-left: 60vh;
  border:  solid;
  border-radius: 30px;
  box-shadow: 0 0 10px cyan,
  0 0 10px cyan, 0 0 10px cyan,
  0 0 10px cyan, 0 0 10px cyan ;
  display: grid;
  
  text-align: center;
  column-gap: normal;
  animation-name: edi;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  

.educattion{
  position: absolute;
  top: 7vh;
  left: 1vh;
  letter-spacing: 0vh;
  line-height: 3vh;
  cursor: pointer;
  font-size: 2vh;

}
.educattion1{
  position: absolute;
  top: 2vh;
  left: 30vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  background-color: transparent;

}

}
.education3:hover{
  transform: scale(1.1);
  z-index: 3;
}
@keyframes edi {
from{
  transform: rotateX('180');
}
to{
  transform: rotateX('0');
}
}
.education4{
  position: absolute;
  top: 59vh;
  left: 80vh;
  color: cyan;
  font-size: 3vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.education5{
  position: absolute;
  top: 70vh;
  left: 10vh;
  color: cyan;
padding: 11vh;
padding-left: 60vh;
  border:  solid;
  border-radius: 30px;
  box-shadow: 0 0 10px cyan,
  0 0 10px cyan, 0 0 10px cyan,
  0 0 10px cyan, 0 0 10px cyan ;
  .educatiion{
    position: absolute;
    top: 2vh;
    left: 25vh;
    color: white;
  }
  .educatiion1{
    position: absolute;
    top: 7vh;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}
.education5:hover{
  transform: scale(1.1);
  z-index: 3;
}


.eduucation61{
  position: absolute;
  top: 105vh;
  left: 95vh;
  color: cyan;
  font-size: 3vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.education6{
  position: absolute;
  top: 115vh;
  left: 100vh;
  color: cyan;
padding: 11vh;
padding-left: 60vh;
  border:  solid;
  border-radius: 30px;
  box-shadow: 0 0 10px cyan,
  0 0 10px cyan, 0 0 10px cyan,
  0 0 10px cyan, 0 0 10px cyan ;
  .eduucation{
    position: absolute;
    top: 2vh;
    left: 30vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
  }
  .eduucation1{
    position: absolute;
    top: 6vh;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
}
.education6:hover{
  transform: scale(1.1);
  z-index: 3;
}
.education7{
  position: absolute;
  top: 150vh;
  left: 80vh;
  color: cyan;
  font-size: 3vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btech{
  position: absolute;
  top: 730vh;
  left: 12vh;
  color: cyan;
padding: 9vh;
padding-left: 63vh;
  border:  solid;
  border-radius: 30px;
  box-shadow: 0 0 10px cyan,
  0 0 10px cyan, 0 0 10px cyan,
  0 0 10px cyan, 0 0 10px cyan ;
  .btech1{
    position: absolute;
    top: 2vh;
    left: 30vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
  }
    .btech2{
      position: absolute;
      top: 5vh;
      font-size: medium;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }

  
}
.btech:hover{
  transform: scale(1.1);
  z-index: 3;
}
.contacct{
  position: absolute;
  top: 150vh;
  left: 0;
}
@media  only screen and { max-width: 800; max-height: 800;} {
  .h7{
    height: 70vh;
    width: 70vh;
  }
  .h9{
    position: absolute;
    height: 160vh;
    width: 160vh;
  }
  .element-link{
    visibility: visible;
  }
    .h1{
      width: 50vh;
      height: 50vh;
    }
    #education{
      width: 50vh;
      height: 50vh;
    }
    #about{ 
      width: 50vh;
      height: 50vh;
    }
    .h3{
      width: 50vh;
      height: 50vh;
    }
    .h4{
      position: absolute;
      width: 250vh;
      height: 250vh;
    }
  }

